{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "quotes": ["warn", "single", { "avoidEscape": true }],
    "eqeqeq": "error",
    "no-var": "error",
    "prefer-const": "error",
    "prefer-arrow-callback": "error",
    "no-trailing-spaces": "error",
    "no-restricted-properties": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "env": {
    "browser": true, // this needs to be only included with react projects
    "node": true
  }
}
